node_modules
uploads
chunks
.env
storage-server-1/chunks
storage-server-2/chunks
storage-server-3/chunks
storage-server-1/uploads
storage-server-2/uploads
storage-server-3/uploads
server/node_modules
storage-server-1/node_modules
storage-server-2/node_modules
storage-server-3/node_modules

storage-server-1/chunks
storage-server-2/chunks
storage-server-3/chunks

storage-server-1/uploads
storage-server-2/uploads
storage-server-3/uploads

*.pdf
*.zip
*.pptx
*.dat